<style type="text/css">

/* Sapienter
 * Esto es usado por sapienter seguro
 */
 
.nobr  { white-space:nowrap; }

/* Menu */
.menu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font-family:verdana,geneva,arial,helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	color:8e8e8e;
	}
.menu ul{
	background:url(../images/menu-2.gif) top left repeat-x;
	height:43px;
	list-style:none;
	margin:0;
	padding:0;
}
.menu li{
	float:left;
	padding:0px 8px 0px 8px;
}
.menu li a{
	color:#666666;
	display:block;
	font-weight:bold;
	line-height:43px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
}
.menu li a:hover{
	/*color:#000000;*/
	color: #224875;
	text-decoration:none;
}
.menu li ul{
	background:#e0e0e0;
	border-left:2px solid #224875;
	border-right:2px solid #224875;
	border-bottom:2px solid #224875;
	display:none;
	height:auto;
	filter:alpha(opacity=95);
	opacity:0.95;
	position:absolute;
	width:225px;
	z-index:200;
	/*top:1em;
	/*left:0;*/
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px; 
}
.menu li:hover ul{
	display:block;
}
.menu li li {
	display:block;
	float:none;
	padding:0px;
	width:225px;
}
.menu li ul a{
	display:block;
	font-size:12px;
	font-style:normal;
	padding:0px 10px 0px 15px;
	text-align:left;
}
.menu li ul a:hover{
	background:#949494;
	/*color:#000000;*/
	color: 224875;
	opacity:1.0;
	filter:alpha(opacity=100);
}
.menu p{
	clear:left;
}	
.menu #current{
	moz-border-radius-bottom:50px;
	/*-webkit-border-radius:50px;*/
	-webkit-border-radius-top:50px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px; 
	/*border-radius:50px;*/

	/*-moz-box-shadow:0 1px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.3);
	box-shadow:0 1px 0 rgba(0,0,0,0.3);	*/
	background: -moz(url(../images/current-2.gif) top left repeat-x);
	background: -webkit(url(../images/current-2.gif) top left repeat-x);	
	background:url(../images/current-2.gif) top left repeat-x;
	color:#ffffff;
}

/* Agregado por Romi */
/* Fondo del logo*/
#SapienterLogo {
	background: -moz-linear-gradient(19% 75% 90deg, #E0E0E0, #FAFAFA);
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E0E0E0));
	margin: 0;
}
/* Centrar la imagen*/
#centrar-imagen {
	text-align: center; 
}
.grid_1{
	margin-left: 2px; 
}
/*Título*/
#body_titulo {
	font-size:12px;
	font-style:normal;
	font-color:224875;  
	padding:0px 10px 0px 15px;
	text-align:left;
}

/*Botón SubMenú*/
.buttonSubMenu{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px; 	
	background: #224875;
	color: #ffffff;
	float:left;
	font-weight:bold;
	margin-top: 0px;
	margin-left: 0px; 
	padding: 12px 10px;
	/*width:150px;*/
	text-align: center; 
	white-space:nowrap;
}

.buttonSubMenu:hover{
	background: -moz-linear-gradient(19% 75% 90deg,#D6D6D6, #B0B1B2);
	background: -webkit-gradient(linear, left top, left bottom, from(#B0B1B2), to(#D6D6D6));	
}

.buttonSubMenu a {
    color: #333;
    /*padding: 4px 6px;*/
    font-size: 12px;
    font-family:verdana,geneva,arial,helvetica,sans-serif;
}

.buttonSubMenu a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    /*color: #333;*/
    color: #ffffff;
    padding-left: 25px; 
}

.buttonSubMenu a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    /*color: #333;*/
    color: #ffffff;
    padding-left: 25px;
    /*margin-left: 2px;*/
}

.buttonForm{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px; 
	background: #224875;
	color:#4A4A4A;
	float:left;
	text-shadow:1px 1px 0 rgba(255, 255, 255, 0.7);
	margin-top: 0px;
	margin-left: 0px;
	padding: 5px 10px;
	width:120px;
	text-align: center; 
	white-space:nowrap;    
}

.buttonForm:hover{
	background: -moz-linear-gradient(19% 75% 90deg,#D6D6D6, #B0B1B2);
	background: -webkit-gradient(linear, left top, left bottom, from(#B0B1B2), to(#D6D6D6));
/*	background: -moz-linear-gradient(19% 75% 90deg,#FD9E05, #FFFFFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FD9E05));*/	
}

.buttonForm input {
    color: #333;
    padding: 5px 7px;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    font-family:verdana,geneva,arial,helvetica,sans-serif;
}

.buttonForm input.delete {
    background: url(../images/skin/database_delete.png) 5px 50% no-repeat;
    /*color: #333;*/
    color: #ffffff;
    padding-left: 25px;
}

.buttonForm input.edit {
    background: url(../images/skin/database_edit.png) center left no-repeat;
    /*color: #333;*/
    color: #ffffff;
    padding-left: 25px;
}

.buttonForm input.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    /*color: #333;*/
    color: #ffffff;
    padding-left: 25px;  
}

.buttonForm input.create {
    /*color: #333;*/
    color: #ffffff;
    padding-left: 25px;  
}

.buttonForm input.find {
    /*color: #333;*/
    color: #224875;
	/*border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;*/
	border-radius: 5px; 
	/*padding: 5px ;*/  
	background: -moz-linear-gradient(19% 75% 90deg,#D6D6D6, #FAFAFA);
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#D6D6D6));  
    font-weight: bold;  
    border: 1px solid #224875;  
}

/*Botón sobre las tablas*/
.buttonNewObjects{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px; 
	/*background: #224875;*/
/*	background: -moz-linear-gradient(19% 75% 90deg, #E0E0E0, #FAFAFA);
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E0E0E0));*/
	background: -moz-linear-gradient(19% 75% 90deg, #E0E0E0, #FAFAFA);
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E0E0E0));
	color:#4A4A4A;
	float: left;
	text-shadow:1px 1px 0 rgba(255, 255, 255, 0.7);
	margin-top: 10px;
/*	margin-left: 20px;*/ 
	padding: 4px 6px;
	border: 1px solid #ccc; 
	white-space: nowrap;
}

.buttonNewObjects input {
    color: #333;
    /*padding: 4px 6px;*/
    border: 0;
    font-weight: bold;
}
.buttonNewObjects input.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    /*color: #333;*/
    color: #000;
    padding-left: 20px;  
}

.buttonNewObjects input.create {
    /*color: #333;*/
    /*color: #000;*/
    padding-left: 20px;  
}
.buttonNewObjects input.find {
    /*color: #333;*/
	/*border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;*/
	border-radius: 5px; 
	/*padding: 5px ;*/  
	border: 1px solid #ccc;   
    font-weight: bold;   
    padding: 6px; 
    background: -moz-linear-gradient(19% 75% 90deg, #E0E0E0, #FAFAFA);
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E0E0E0));	
}
.buttonNewObjects input.find_text {
    /*color: #333;*/
    color: #224875;
	/*border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;*/
	border-radius: 5px; 
	/*padding: 5px ;*/  
	border: 1px solid #ccc;   
    font-weight: bold;   
    padding: 6px; 
}
.buttonNewObjects input.save {
    background: url(../images/skin/database_save.png) center left no-repeat;
    /*color: #333;*/
    color: #000;
    padding-left: 20px;
}
.buttonNewObjects input.cancel {
    background: url(../images/skin/database_delete.png) center left no-repeat;
    /*color: #333;*/
    color: #000;
    padding-left: 20px;  
}
.buttonNewObjects input.cancel {
    background: url(../images/skin/database_delete.png) center left no-repeat;
    /*color: #333;*/
    color: #000;
    padding-left: 20px;  
}
.buttonNewObjects input.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    /*color: #333;*/
    color: #000;
    padding-left: 20px;
    /*margin-left: 2px;*/
}
.buttonNewObjects a {
    color: #333;
    font-size: 10px;
    font-family:verdana,geneva,arial,helvetica,sans-serif;
    border:1px solid #ccc;
}
.buttonNewObjects input.edit {
    background: url(../images/skin/database_edit.png) center left no-repeat;
    /*color: #333;*/
    color: #000;
    padding-left: 20px;
}

.buttonNewObjects a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    /*color: #333;*/
    color: #000;
    padding-left: 20px;
}
.buttonNewObjects:hover{
/*	background: -moz-linear-gradient(19% 75% 90deg,#D6D6D6, #B0B1B2);
	background: -webkit-gradient(linear, left top, left bottom, from(#B0B1B2), to(#D6D6D6));
	background: -moz-linear-gradient(19% 75% 90deg,#FFFFFF, #224875);
	background: -webkit-gradient(linear, left top, left bottom, from(#224875), to(#FFFFFF));*/
	background: #E0E0E0;
}

.buttonIntoTable{
	background: -moz-linear-gradient(19% 75% 90deg, #E0E0E0, #FAFAFA);
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E0E0E0));
	border: 1px solid #ccc;
	padding:10px;	 
	color: #000000;
	text-align: right;
	float: right;
	margin-right: 20px;
	border-top-right-radius: 7px;
    border-top-left-radius: 7px;
	margin-top: 5.5px;
}

.margin{
	margin-left: 20px;
}

mandatory{
	color: #FF0000;
	font-size: 16;
	font-weight: bold;
}
/* DIALOG */

.dialog table {
    padding: 2px 5px;
}
.prop {
    padding: 2px;
}
.prop .name {
    /*text-align: center;*/
/*    width: 10%;*/
    white-space: nowrap;
    border-radius: 5px;
	/*-moz-box-shadow:0 1px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.3);
	box-shadow:0 1px 0 rgba(0,0,0,0.3);*/
	background: #dbdbdb;
/*  background: -moz-linear-gradient(19% 75% 90deg,#dbdbdb, #FFFFFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#dbdbdb));*/
	/*border: 1px solid #dbdbdb;*/
	/*font-weight: bold;*/
	text-align: left; 
	/*width: 5px;*/
}
.prop .name_popup {
    white-space: nowrap;
    border-radius: 5px;
	background: #dbdbdb;
	text-align: center; 
	width: 120px;
}
.prop .value {
    text-align: left;
    /*width: 40%;*/
    border-radius: 5px;
    font-weight: bold;
	width: 170px;
	white-space: nowrap;    
}
.prop .descripcion{
    font-weight: bold;
    font-size: 11px;  
    /*text-align: right;*/
}
.descripcion .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
    font-style: italic;
}
.prop .textField{
	border-radius: 5px;	
}	
/* TABLES */

.tabla {
    border: 1px solid #E0E0E0;
    width: 100%;
    border-radius:20px;
    background: -moz-linear-gradient(19% 75% 90deg,#DBDBDB, #FFFFFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DBDBDB));
	padding: 10px;	
	white-space: nowrap;;	
}
.tabla tr {
    border: 0;  	 
}
.tabla td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 7px 7px;
    text-align: left;
    vertical-align: top;
    width: 120px;
}
.tabla th {
    background: #fff url(../images/skin/shadow.jpg);
    /*color: #666;*/
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    padding: 10px 16px;
    background: -moz-linear-gradient(19% 75% 90deg,#cccccc, #e9e9e9);
	background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#cccccc));
    /*border-top-right-radius: 7px;
    border-top-left-radius: 7px;*/
    border-radius: 5px;
    border: 1px solid #ccc;
}
.tabla th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
.tabla th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
.tabla th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
.tabla th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
   background: #f7f7f7;  
}
.even {
    background: #fff;       
}
.tabla_edit {
    border: 1px solid #E0E0E0;
    width: 100%;
    border-radius:20px;
    background: -moz-linear-gradient(19% 75% 90deg,#DBDBDB, #FFFFFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DBDBDB));
	padding: 0x 0px;	
	vertical-align: center;
}
.tabla_edit tr {
    border: 0;  	 
}
.tabla_edit td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
/*    line-height: 12px;*/
    padding: 0px 5px;
    text-align: left;
    vertical-align: center;
}
.tabla_edit th {
    background: #fff url(../images/skin/shadow.jpg);
    /*color: #666;*/
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    padding: 10px 16px;
    background: -moz-linear-gradient(19% 75% 90deg,#cccccc, #e9e9e9);
	background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#cccccc));
    /*border-top-right-radius: 7px;
    border-top-left-radius: 7px;*/
    border-radius: 5px;
    border: 1px solid #ccc;
    white-space: nowrap;
}

/*Tabla usada en el popup Modelo de Documento*/
.tabla_popup {
    border: 1px solid #E0E0E0;
    width: 100%;
    border-radius:20px;
    background: -moz-linear-gradient(19% 75% 90deg,#DBDBDB, #FFFFFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DBDBDB));
	padding: 2px;	
	white-space: nowrap;
}
.tabla_popup tr {
    border: 0;  	 
}

.tabla_popup td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    padding: 0px;
    text-align: left;
    vertical-align: top;
}
.tabla_popup th {
    background: #fff url(../images/skin/shadow.jpg);
    font-size: 11px;
    padding: 2px;;
    background: -moz-linear-gradient(19% 75% 90deg,#cccccc, #e9e9e9);
	background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#cccccc));
    border-radius: 5px;
    border: 1px solid #ccc;
}
.tabla_parte{
	border-radius:5px;
	border:1px solid #ccc;
}
.tabla_parte td{
	border-radius:5px;
	border:1px solid #ccc;
}
/* LIST */
.list table {
    /*border-collapse: collapse;*/
	moz-border-radius:10px;
	border-radius:10px;
	-webkit-border-radius:10px;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}

.list th:hover, .list tr:hover {
    /*background: #b2d1ff;*/
    background: #dbdbdb;
}
.list thead{
	bakground: #224875;
	}

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;   
    margin-left: 0px;	
/*	background: -moz-linear-gradient(19% 75% 90deg, #F6F3F3, #FAFAFA);
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#F6F3F3));
	background: -moz-linear-gradient(19% 75% 90deg, #F6F3F3, #FFFFFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F6F3F3));*/		
}

pop-up{
	background: #ff00000;
}
h1 {
    color: #224875 ;
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;  
}
h2 {
    color: #000 ;
    font-size: 10px;
    padding-top: 10px;  
}

	#login {
		margin: 15px 0px;
		padding: 0px;
		text-align: center;		
	}

	#login .inner {
		width: 340px;
		padding-bottom: 6px;
		margin: 60px auto;
		/*text-align: left;*/
		border: 1px solid #aab;
		/*background-color: #f0f0fa;*/
		-moz-box-shadow: 2px 2px 2px #eee;
		-webkit-box-shadow: 2px 2px 2px #eee;
		-khtml-box-shadow: 2px 2px 2px #eee;
		box-shadow: 2px 2px 2px #eee;
		text-align: center;
		border-radius: 5px;
		background: -moz-linear-gradient(19% 75% 90deg,#DBDBDB, #FFFFFF);
		background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DBDBDB));
	}

	#login .inner .fheader {
		padding: 18px 26px 14px 26px;
		background-color: #f7f7ff;
		margin: 0px 0 14px 0;
		color: #224875;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}

	#login .inner .cssform p {
		clear: left;
		margin: 0;
		padding: 4px 0 3px 0;
		padding-left: 105px;
		margin-bottom: 20px;
		height: 1%;
	}

	#login .inner .cssform input[type='text'] {
		width: 120px;
		border-radius:5px;
	}

	#login .inner .cssform label {
		font-weight: bold;
		float: left;
		text-align: right;
		margin-left: -105px;
		width: 110px;
		padding-top: 3px;
		padding-right: 10px;
		border-radius:5px;
		color: #224875;
	}

	#login #submit {
		margin-left: 15px;
		border-radius:5px;
		color: #224875;
		padding: 7px;
		background: -moz-linear-gradient(19% 75% 90deg,#cccccc, #FFFFFF);
		background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#cccccc));
		font-weight:bold;
	}


	#login .inner .login_message {
		padding: 6px 25px 20px 25px;
		color: #c33;
	}

	#login .inner .text_ {
		width: 120px;
		border-radius: 5px;
	}

	#login .inner .chk {
		height: 12px;
	}
/* Fin menu */
/* Fin Sapienter
 * A prtir de acï¿½ es lo generado en forma automï¿½tica a revisar
 */
 
 
html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}




a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

ul {
    padding-left: 15px;
}
ra {
	float: right;
}
input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
}

.body_left {
	padding-left: 50em;
}
/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    /*color: #333;*/
    color: #ffffff;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
    border-radius:5px;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
td.errors textarea {
    border: 1px solid red;
}


/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    /*font-size: 10px;*/
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}

.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}
 /*RICHUI*//* .yui-navset defaults to .yui-navset-top */
.yui-skin-sam .yui-navset .yui-nav,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav { /* protect nested tabviews from other orientations */
    border:solid #FFCC00; /* color between tab list and content */
    border-width:0 0 5px;
    Xposition:relative;
    zoom:1;
}

.yui-skin-sam .yui-navset .yui-nav li,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav li {
    margin:0 0.16em 0 0; /* space between tabs */
    padding:1px 0 0; /* gecko: make room for overflow */
    zoom:1;
}

.yui-skin-sam .yui-navset .yui-nav .selected,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav .selected { 
    margin:0 0.16em -1px 0; /* for overlap */
}

.yui-skin-sam .yui-navset .yui-nav a,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a {
    background:#EEEEEE url(../../../../assets/skins/sam/sprite.png) repeat-x; /* tab background */
    border:solid #a3a3a3;
    border-width:0 1px;
    color:#000;
    text-decoration:none;
}

.yui-skin-sam .yui-navset .yui-nav a em,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em {
    border:solid #a3a3a3;
    border-width:1px 0 0;
    cursor:hand;
    padding:0.25em .75em;
    left:0; right: 0; bottom: 0; /* protect from other orientations */
    top:-1px; /* for 1px rounded corners */
    position:relative;
}

.yui-skin-sam .yui-navset .yui-nav .selected a,
.yui-skin-sam .yui-navset .yui-nav .selected a:focus, /* no focus effect for selected */
.yui-skin-sam .yui-navset .yui-nav .selected a:hover { /* no hover effect for selected */
    background:#FFCC00 url(../../../../assets/skins/sam/sprite.png) repeat-x left -1400px; /* selected tab background */
    color:#000;
}

.yui-skin-sam .yui-navset .yui-nav a:hover,
.yui-skin-sam .yui-navset .yui-nav a:focus {
    background:#ffeb9b url(../../../../assets/skins/sam/sprite.png) repeat-x left -1300px; /* selected tab background */
    outline:0;
}

.yui-skin-sam .yui-navset .yui-nav .selected a em {
    padding:0.35em 0.75em; /* raise selected tab */
}

.yui-skin-sam .yui-navset .yui-nav .selected a,
.yui-skin-sam .yui-navset .yui-nav .selected a em {
    border-color:#BBBBBB; /* selected tab border color */
}

.yui-skin-sam .yui-navset .yui-content {
    background:#F1F1F1; /* content background color */
}

.yui-skin-sam .yui-navset .yui-content,
.yui-skin-sam .yui-navset .yui-navset-top .yui-content {
    border:0px solid #808080; /* content border */
    border-top-color:#243356; /* different border color */
    padding:0.25em 0.5em; /* content padding */
}

</style>

/*CENTRAR*/
/*Menu*/
/*width:210px;
margin: 0 auto;
*/
/*Tabla*/
/*div.centraTabla{
text-align: center;
}
div.centraTabla table {
margin: 0 auto;
text-align: left;
}
*/